@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

@layer utilities {
  .gradient-text {
    background: linear-gradient(to right, #f82e06, #c22c3f);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
